# Secure Environment Properties
.env
venv/

# Microsoft Word Document Rules
*.docx
*.doc
~$*.docx
~$*.doc

# Python Local Caches
__pycache__/
*.pyc

# Local Data and Large Binaries
data_images/
*.pt
*.pkl
